@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Inter", sans-serif;
}

.heartStar{
  border-radius: 0px 37.5px 0px 42.5px;
}
.active{
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #39DB44;
}